@{
    ViewBag.Title = "Контакты";
}
<h2>Контактная информация</h2>

<address>
    Sheviak LLC<br />
    Украина, Харьков<br />
    <a href="tel:+380679276676">звоните к нам бесплатно!</a>
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:sheviak.k@gmail.com">sheviak.k@gmail.com</a><br />
</address>

<script src="https://mssg.me/widget/sheviak.k" async></script>