@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Протестируй свои знания!</h1>
    <p class="lead">Наш сайт предлагает протестировать свои звания в разных областях</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Регистрация &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>С чего начать?</h2>
        <p>
            Для начала зарегистрируйтесь в системе.
            Для этого нажмите на кнопку "Регистрация", введите все необходимые данные и нажмите на кнопку "Регистрация".
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Регистрация &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Какие тесты у нас есть?</h2>
        <p>На нашем сайте содержится множество различных тестов по разным тематикам и отраслям, например, матиматика, физика, украинский язык и т.д.</p>
        <p><a class="btn btn-default" href="~/Account/Register">Тесты &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Зачем нужны тесты?</h2>
        <p>
            Тесты известны своей универсальностью и точностью. Тест (от слова англ. test) — Испытание, проверка.
            Тесты они как и большинство созданных человеком вещей помогают сэкономить время, найти быстрое решение проблемы и быстро и точно оценить знания человека.
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Регистрация &raquo;</a></p>
    </div>
</div>